/* ===================================
Fonts
====================================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/* ===================================
colors
====================================== */
/* ===================================
General
====================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem #ff9f0d;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #0d0d0d;
}

.container {
  max-width: 132rem;
  margin: 0 auto;
}

a {
  color: #fff;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.8rem 5.6rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn_full:link,
.btn_full:visited {
  background-color: #ff9f0d;
}

.btn_full:hover,
.btn_full:active {
  background-color: #999966;
}

.btn_outline:link,
.btn_outline:visited {
  box-shadow: inset 0 0 0 1px #ff9f0d;
}

.btn_outline:hover,
.btn_outline:active {
  background-color: #ff9f0d;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  padding: 1rem;
}

.link:hover,
.link:active {
  color: #ff9f0d;
}

ul {
  list-style: none;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6.8rem;
  margin-bottom: 3.2rem;
}
.heading-primary span {
  color: #ff9f0d;
}

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin-bottom: 3.2rem;
}
.heading-secondary span {
  color: #ff9f0d;
}

.subheading {
  font-family: "Great Vibes", cursive;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4rem;
  color: #ff9f0d;
  margin-bottom: 2.4rem;
}

.heading-h5 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: start;
  margin-bottom: 3.6rem;
}

/* ===================================
Header
====================================== */
.header-section {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  background-color: #0d0d0d;
  padding-top: 50px;
  padding-bottom: 100px;
}
.header-section .logo {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.header-section .logo span {
  color: #ff9f0d;
}
.header-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(0.05);
  background-image: url("../images/hero-bg.jpg");
  background-position: center center;
  background-size: cover;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.6rem;
}

.nav-menu {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-weight: 400;
}
.nav-menu li .nav-link:link,
.nav-menu li .nav-link:visited {
  padding: 1rem;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 1.6rem;
}
.nav-menu li .nav-link::after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: none;
  transition: all 0.3s;
}
.nav-menu li .nav-link:hover.nav-link::after,
.nav-menu li .nav-link:active .nav-link::after {
  background-color: #ff9f0d;
}

.header-component {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-component .search-area {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.header-component .search-area input[type=text] {
  background-color: transparent;
  width: 310px;
  height: 54px;
  padding: 1.4rem 2.6rem;
  border-radius: 2.7rem;
  border: 1px solid #ff9f0d;
  color: #fff;
}
.header-component .search-area input::-moz-placeholder {
  color: #fff;
}
.header-component .search-area input:-ms-input-placeholder {
  color: #fff;
}
.header-component .search-area input::placeholder {
  color: #fff;
}
.header-component .search-area .search-btn {
  position: absolute;
  right: 20px;
  background-color: transparent;
  padding: 0.5rem;
}
.header-component .search-area .search-btn img {
  width: 2.4rem;
  height: 2.4rem;
}
.header-component .search-area .search-btn:hover img {
  filter: invert(53%) sepia(90%) saturate(456%) hue-rotate(354deg) brightness(106%) contrast(104%);
}
.header-component .shopping-card:hover img {
  filter: invert(53%) sepia(90%) saturate(456%) hue-rotate(354deg) brightness(106%) contrast(104%);
}

/* ===================================
Hero
====================================== */
.hero-section {
  display: flex;
  align-items: center;
  position: relative;
  gap: 4.8rem;
}
.hero-section .hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 40%;
}
.hero-section .hero-content h1 {
  text-align: start;
}
.hero-section .hero-img-box {
  width: 100%;
  margin-right: -200px;
  max-width: 65%;
  height: auto;
  right: 100px;
}
.hero-section .hero-img-box .hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .social-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -7.2rem;
  font-size: 1.2rem;
}
.hero-section .social-links span {
  width: 1px;
  height: 158px;
  background-color: currentColor;
  margin: 3.6rem 0;
}
.hero-section .social-links .link {
  margin-bottom: 1.6rem;
}
.hero-section .social-links .link:last-of-type {
  margin-bottom: 0;
}

/* ===================================
About Us
====================================== */
.about-section {
  display: flex;
  gap: 9.8rem;
  align-items: center;
  padding: 120px 0;
}

.about-content {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-content .about-list {
  margin-bottom: 3.2rem;
}
.about-content .about-list li {
  margin-bottom: 2.4rem;
}
.about-content .about-list li p {
  font-size: 1.8rem;
}
.about-content .about-list li p span {
  margin-right: 1rem;
}

.about-img-box {
  max-width: 55%;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr 1fr;
}
.about-img-box .about-img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  height: 194px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-img-box .about-img:first-of-type {
  height: 330px;
  grid-column: 1/3;
}

/* ===================================
Food Category
====================================== */
.food-section {
  position: relative;
  padding-bottom: 120px;
}
.food-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  bottom: -250px;
  background-image: url(../images/food-category-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  filter: opacity(0.1);
}

.food-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.food-category h2 {
  margin-bottom: 5.6rem;
}

.food-img-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.food-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.food-item img {
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}
.food-item img:hover {
  transform: scale(1.1);
}
.food-item .food-text-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.food-item .food-text-box p {
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ff9f0d;
  background-color: #fff;
  margin-bottom: 12px;
}
.food-item .food-text-box h6 {
  border-radius: 6px;
  font-size: 2rem;
  padding: 10px 32px;
  background-color: #ff9f0d;
}

/* ===================================
Why-Us Category
====================================== */
.why-us-section {
  display: flex;
  align-items: center;
  gap: 9.8rem;
  margin-bottom: 120px;
}

.why-us-image-box {
  width: 50%;
}
.why-us-image-box .masonry-box1 {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: flex-end;
  margin-bottom: 16px;
}
.why-us-image-box .masonry-box1 .img1 {
  flex: 5;
}
.why-us-image-box .masonry-box1 .img2 {
  flex: 4;
}
.why-us-image-box .masonry-box2 {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-flow: wrap;
  position: relative;
}
.why-us-image-box .masonry-box2 .img3 {
  flex: 3;
}
.why-us-image-box .masonry-box2 .img4 {
  flex: 2.5;
}
.why-us-image-box .masonry-box2 .img5 {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.why-us-image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
}

.why-us-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.why-us-content div {
  display: flex;
}
.why-us-content div figure {
  margin-right: 32px;
  margin-bottom: 36px;
}
.why-us-content div figure span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ff9f0d;
  margin-bottom: 16px;
  border-radius: 6px;
}
.why-us-content div figure span img {
  width: 56px;
  height: 56px;
}
.why-us-content div figure figcaption {
  font-size: 1.8rem;
  text-align: center;
}
.why-us-content .experience {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 18px 54px;
  border-radius: 6px;
  border-left: 10px solid #ff9f0d;
}
.why-us-content .experience h2 {
  margin-bottom: 0;
  margin-right: 48px;
}
.why-us-content .experience p {
  font-size: 2rem;
  line-height: 28px;
  color: #000;
}
.why-us-content .experience p span {
  font-size: 2.4rem;
}

/* ===================================
client-section
====================================== */
.client-section {
  position: relative;
  padding: 110px 0;
  margin-bottom: 120px;
}
.client-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(0.15);
  background-image: url("../images/client-bg.jpg");
  background-position: center center;
  background-size: cover;
}

.client-content {
  display: flex;
  justify-content: space-between;
}
.client-content .client-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-content .client-box figure {
  width: 120px;
  height: 120px;
  margin-bottom: 24px;
}
.client-content .client-box h3 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 24px;
}

/* ===================================
food-menu-section
====================================== */
.food-menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.food-menu-list {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.food-menu-list li a {
  font-size: 2rem;
}

.food-menu-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.food-menu-content figure {
  width: 33%;
}
.food-menu-content figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.food-menu-content .food-list {
  width: 66%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.food-menu-content .food-list li {
  display: flex;
  margin-right: 32px;
}
.food-menu-content .food-list figure {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.food-menu-content .food-list figure img {
  width: 100%;
  height: 100%;
}
.food-menu-content .food-list span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.food-menu-content .food-list span h6 {
  font-size: 2rem;
}
.food-menu-content .food-list span p {
  font-size: 1.4rem;
}
.food-menu-content .food-list span .food-price {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ff9f0d;
}

/* ===================================
Chefs section
====================================== */
.chef-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  position: relative;
}
.chef-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  bottom: -110px;
  background-image: url(../images/food-category-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  filter: opacity(0.1);
  transform: scaleX(-1);
}

.chefs {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.chef-card {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin-bottom: 56px;
}
.chef-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chef-card figcaption {
  width: 70%;
  height: 64px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
  color: #000;
}
.chef-card figcaption h6 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 12px 20px;
}
.chef-card figcaption p {
  font-size: 1.4rem;
  margin-left: 20px;
}

.testimonials-section {
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-card {
  width: 65%;
  background-color: #fff;
  margin: 122px auto;
  margin-bottom: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
.testimonials-card .user-img {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.testimonials-card .user-img img {
  width: 100%;
  height: 100%;
}
.testimonials-card .quote {
  margin: 110px 0 44px 0;
}
.testimonials-card p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 0 9.6rem;
  margin-bottom: 3.2rem;
  text-align: center;
}
.testimonials-card .stars {
  margin-bottom: 16px;
}
.testimonials-card::after {
  content: "";
  width: 400px;
  height: 100%;
  position: absolute;
  right: -120px;
  transform: rotate(-14deg);
  filter: opacity(8%);
  background-image: url("../images/testimonials-bg.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-qroup {
  display: flex;
  align-items: center;
}
.btn-qroup .btn-indicator {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ff9f0d;
  opacity: 30%;
  margin-right: 8px;
}
.btn-qroup .btn-indicator.active {
  opacity: 1;
}

/* ===================================
restaurant active process
====================================== */
.restaurant-process-section {
  width: 100%;
  margin-bottom: 120px;
  position: relative;
}
.restaurant-process-section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/restaurant-process-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.process {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 110px 0;
}

.process-content {
  width: 60%;
  text-align: end;
}
.process-content .description {
  text-align: end;
}
.process-content .btn-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.process-content .btn-group p {
  font-size: 1.6rem;
  font-weight: 700;
}
.process-content .btn.btn_outline {
  margin-right: 24px;
}
.process-content .btn.btn_full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  margin-right: 12px;
  padding: 0;
}
.process-content .btn.btn_full img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ===================================
Blog Section
====================================== */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.blog h2 {
  margin-bottom: 60px;
}

.blog-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 120px;
}
.blog-content .blog-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 6px;
  overflow: hidden;
}
.blog-content .blog-card figure {
  width: 100%;
  height: 350px;
}
.blog-content .blog-card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-content .blog-card .blog-text-box {
  padding: 32px 42px;
}
.blog-content .blog-card .blog-text-box p {
  font-size: 1.6rem;
  margin-bottom: 16px;
}
.blog-content .blog-card .blog-text-box h5 {
  margin-bottom: 32px;
}
.blog-content .blog-card .blog-text-box .blog-action {
  display: flex;
  width: 100%;
  font-size: 1.6rem;
}
.blog-content .blog-card .blog-text-box .blog-action a:first-of-type {
  margin-right: auto;
}
.blog-content .blog-card .blog-text-box .blog-action a:hover img {
  filter: invert(53%) sepia(90%) saturate(456%) hue-rotate(354deg) brightness(106%) contrast(104%);
}

.blog-notification {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
  border-bottom: 1px solid #ff9f0d;
}
.blog-notification .notification-heading {
  display: flex;
  flex-direction: column;
}
.blog-notification h4 {
  font-size: 3.2rem;
  margin-bottom: 16px;
}
.blog-notification p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.blog-notification form {
  display: flex;
  align-items: center;
  width: 460px;
  height: 56px;
  position: relative;
}
.blog-notification form input[type=email] {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #ff9f0d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blog-notification form input[type=email]::-moz-placeholder {
  color: white;
  opacity: 0.6;
}
.blog-notification form input[type=email]:-ms-input-placeholder {
  color: white;
  opacity: 0.6;
}
.blog-notification form input[type=email]::placeholder {
  color: white;
  opacity: 0.6;
}
.blog-notification form .notification-btn {
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  position: absolute;
  right: 0;
  line-height: 56px;
  padding: 0 24px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
  color: #ff9f0d;
}
.blog-notification form .notification-btn:hover {
  opacity: 0.9;
}

/* ===================================
Footer Section
====================================== */
.footer-section {
  width: 100%;
  position: relative;
}
.footer-section::before {
  content: "";
  width: 295px;
  height: 422px;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 90px;
  background: url(../images/footer-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: opacity(0.2);
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 6.8rem;
  padding-bottom: 56px;
}
.footer h5 {
  margin-bottom: 28px;
}
.footer p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.footer ul li a:link,
.footer ul li a:visited {
  font-size: 2rem;
  padding-left: 0;
}

.footer-about {
  flex: 1.5;
}
.footer-about .about-info {
  margin-top: 36px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-about .about-info figure {
  padding: 18px;
  background-color: #ff9f0d;
  border-radius: 6px;
}
.footer-about .about-info .about-info-text-box > p:first-of-type {
  font-size: 1.8rem;
}

.useful-links {
  flex: 1;
}

.help {
  flex: 1;
}

.recent-post {
  flex: 1.1;
}
.recent-post li {
  margin-bottom: 16px;
}
.recent-post li a:link,
.recent-post li a:visited {
  display: flex;
  align-items: center;
  gap: 16px;
}
.recent-post li a:link p,
.recent-post li a:visited p {
  font-size: 1.8rem;
}
.recent-post li .recent-text-box p:first-of-type {
  font-size: 1.6rem;
  color: #4f4f4f;
}
.recent-post li figure {
  width: 56px;
  height: 56px;
}
.recent-post li figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.copyright {
  background-color: #ff9f0d;
  font-size: 1.6rem;
  padding: 32px 0;
}
.copyright .copyright-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright .copyright-link:link,
.copyright .copyright-link:visited {
  padding: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}
.copyright .copyright-link:hover,
.copyright .copyright-link:active {
  color: white;
  border-bottom: 1px solid transparent;
}
.copyright .social-link {
  display: flex;
  gap: 14px;
}
.copyright .social-link a:link,
.copyright .social-link a:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  top: 50%;
}
.copyright .social-link a:link i,
.copyright .social-link a:visited i {
  color: #4f4f4f;
}
.copyright .social-link a:hover i,
.copyright .social-link a:active i {
  color: #ff9f0d;
}/*# sourceMappingURL=main.css.map */