// max-width: 1536px;
@media (max-width: 96em) {
}

// max-width: 1280px;
@media (max-width: 80em) {
    html {
        font-size: 56.25%;
    }

    .social-links {
        display: none;
    }

    .food-img-box {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
}

// max-width: 1024px
@media (max-width: 64em) {
    html {
        font-size: 50%;
    }
    .hero-section {
        top: 14rem;
        margin-bottom: 10rem;
    }
    .hero-content {
        display: flex;
        flex-direction: column;
    }

    .hero-img-box {
        width: 80%;
        margin: 0 auto;
        top: 0;
    }

    .hero-text-box {
        width: 80%;
        margin: 0 auto;
        left: 50%;

        .heading-primary {
            font-size: 5rem;
        }
    }

    .blog-notification {
        width: 100%;
    }

    .food-menu-content {
        flex-direction: column;
        align-items: center;
        .food-list {
            // width: 100%;
            grid-template-columns: 1fr;
        }
    }

    .chefs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

// max-width: 768px;
@media (max-width: 48em) {
    html {
        font-size: 43.75%;
    }

    .blog-notification {
        flex-direction: column;
        gap: 4rem;
    }

    .footer {
        flex-direction: column;

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }
}

// max-width: 640px;
@media (max-width: 40em) {
    .hero-img-box {
        display: none;
    }
    .recent-post {
        display: none;
    }

    .chefs {
        display: grid;
        grid-template-columns: 1fr;
    }
}
